.targetContainer {
  width: 1000px;
  height: 1000px;
  position: relative; }

.imageContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.target {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: 100% 100%;
  position: relative;
  margin: 0 auto;
  pointer-events: none; }
  .target .bullet {
    position: absolute;
    background-color: red;
    border-radius: 100%;
    z-index: 20;
    pointer-events: none;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.75), 0 1px 0 rgba(255, 255, 255, 0.5); }
    .target .bullet.nine-mm {
      width: 12px;
      height: 12px;
      margin-top: -6px;
      margin-left: -6px; }
  .target .inner {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: all 0.2s;
    /* Safari */
    transition: all 0.2s; }
    .target .inner.score-10 {
      width: 10%;
      height: 10%;
      margin-top: 45%;
      margin-left: 45%;
      z-index: 10; }
    .target .inner.score-9 {
      width: 20%;
      height: 20%;
      margin-top: 40%;
      margin-left: 40%;
      z-index: 9; }
    .target .inner.score-8 {
      width: 30%;
      height: 30%;
      margin-top: 35%;
      margin-left: 35%;
      z-index: 8; }
    .target .inner.score-7 {
      width: 40%;
      height: 40%;
      margin-top: 30%;
      margin-left: 30%;
      z-index: 7; }
    .target .inner.score-6 {
      width: 50%;
      height: 50%;
      margin-top: 25%;
      margin-left: 25%;
      z-index: 6; }
    .target .inner.score-5 {
      width: 60%;
      height: 60%;
      margin-top: 20%;
      margin-left: 20%;
      z-index: 5; }
    .target .inner.score-4 {
      width: 70%;
      height: 70%;
      margin-top: 15%;
      margin-left: 15%;
      z-index: 4; }
    .target .inner.score-3 {
      width: 80%;
      height: 80%;
      margin-top: 10%;
      margin-left: 10%;
      z-index: 3; }
    .target .inner.score-2 {
      width: 90%;
      height: 90%;
      margin-top: 5%;
      margin-left: 5%;
      z-index: 2; }
    .target .inner.score-1 {
      width: 100%;
      height: 100%;
      margin-top: 0%;
      margin-left: 0%;
      z-index: 1; }
    .target .inner.score-0 {
      width: 110%;
      height: 110%;
      margin-top: -5%;
      margin-left: -5%;
      z-index: 0; }
    .target .inner.score-11 {
      width: 5%;
      height: 5%;
      margin-top: 47.5%;
      margin-left: 47.5%;
      z-index: 11; }
    .target .inner.white {
      border: 1px solid black; }
    .target .inner.black {
      border: 1px solid white; }
  .target.image-mode .inner.black {
    border: 1px solid red;
    background: rgba(255, 0, 0, 0.075) !important; }
  .target.image-mode .inner.white {
    border: 1px solid white;
    background: transparent !important; }
  .target.impacts-mode {
    cursor: crosshair;
    pointer-events: auto; }
    .target.impacts-mode .inner.white {
      border: 1px solid black;
      background: transparent !important; }
    .target.impacts-mode .inner.black {
      border: 1px solid #ffab40;
      background: rgba(255, 171, 64, 0.075) !important; }
  .target.verification-mode .inner.black {
    background: #000 !important; }
