.targetContainer {
	width: 1000px;
	height: 1000px;
	position: relative;
}

.imageContainer {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.target {
	width: 100%;
	height: 100%;
	border-radius: 100%;
	background-size: 100% 100%;
	position: relative;
	margin: 0 auto;

	.bullet {
		position: absolute;
		background-color: red;
		border-radius: 100%;
		z-index: 20;
		pointer-events: none;
		box-shadow: inset 0 2px 3px rgba(0, 0, 0, .75), 0 1px 0 rgba(255, 255, 255, .5);

		&.nine-mm {
			$bullet-size: 12px;
			width: $bullet-size;
			height: $bullet-size;
			margin-top: - $bullet-size / 2;
			margin-left: - $bullet-size / 2;
		}
	}
	
	.inner {
		border-radius: 100%;
		width: 100%;
		height: 100%;
		position: absolute;
		-webkit-transition: all .2s; /* Safari */
    	transition: all .2s;

		@for $i from 10 through 0 {
			&.score-#{$i} {
				width: 100% - ($i - 1) * 10;
				height: 100% - ($i - 1) * 10;
				margin-top: 5% * ($i - 1);
				margin-left: 5% * ($i - 1);
				z-index: $i;
			}
		}

		&.score-11 {
			width: 5%;
			height: 5%;
			margin-top: 47.5%;
			margin-left: 47.5%;
			z-index: 11;
		}

		&.white {
			border: 1px solid white;
		}

		&.black {
			border: 1px solid black;
		}
	}

	&.create, &.edit {
		cursor: crosshair;
		
		.inner {
			&.white {
				border: 1px solid black;
				background: transparent !important;
			}

			&.black {
				border: 1px solid #ffab40;
				background: rgba(255, 171, 64, .075) !important;
			}
		}
	}

	&.disabled {
		pointer-events: none;

		.inner {

			&.black {
				border: 1px solid red;
				background: rgba(255, 0, 0, .075) !important;
			}
		}
	}
}