<ul class="nav helper" ng-controller="TargetHelperController">
	<li class="help">Etapes de la création</li>
	<li ng-repeat="helper in helpers" ng-class="{'active': helper.state === $parent.currentHelperState}">

		<button type="button" ng-show="helper.state === $parent.currentHelperState && $parent.currentHelperState > 1" class="helper-before btn btn-warning btn-flat" ng-click="setCurrentHelperState($parent.currentHelperState -1);"><i class="material-icons">navigate_before</i></button> 

		<span class="helper-state btn btn-lg btn-round white" 
				ng-class="{'white' : helper.state > $parent.currentHelperState || helper.state === $parent.currentHelperState, 'green lighten-2 white-text' : helper.state < $parent.currentHelperState}">
			<span ng-bind="helper.state"></span>
		</span>

		<span class="helper-text" ng-bind="helper.text" ng-show="helper.state === $parent.currentHelperState"></span>

		<button type="button" ng-disabled="!helper.done" ng-show="helper.state === $parent.currentHelperState" class="helper-next btn btn-success btn-flat" ng-click="helper.action();"><span ng-bind="helper.buttonText"></span></button>
	</li>
</ul>