<ul class="nav helper">
	<li class="help">Etapes de la création</li>
	<li ng-repeat="helper in helpers" ng-class="{'active': helper.state === currentHelperState}">

		<button type="button"
				ng-show="helper.state === currentHelperState && currentHelperState > 0"
				class="helper-before btn btn-warning btn-flat"
				ng-click="helper.previousAction()">
			<i class="material-icons">navigate_before</i>
		</button> 

		<span class="helper-state btn btn-lg btn-round white" 
				ng-class="{'white' : helper.state > currentHelperState || helper.state === currentHelperState, 'green lighten-2 white-text' : helper.state < currentHelperState}">
			<span ng-bind="helper.state + 1"></span>
		</span>

		<span class="helper-text" ng-bind="helper.text" ng-show="helper.state === currentHelperState"></span>

		<button type="button"
				ng-show="helper.state === currentHelperState && helper.name !== 'upload' && helper.done"
				class="helper-next btn btn-success btn-flat"
				ng-click="helper.action();">
			<span ng-bind="helper.buttonText"></span>
		</button>

		<span ng-show="helper.state === currentHelperState && helper.name === 'upload'">
	        <button type="button" class="btn btn-success btn-file btn-flat helper-next" data-ng-hide="uploader.queue.length" ng-click="clickUploadButton();">Parcourir</button>
	        <button ng-if="helper.name === 'upload'" data-ng-show="uploader.queue.length" class="btn btn-success btn-flat helper-next" ng-click="uploadTargetPicture();">Enregistrer</button>
	        <button ng-if="helper.name === 'upload'" data-ng-show="uploader.queue.length" class="btn btn-default btn-flat" data-ng-click="cancelUpload();">Annuler</button>
        </span>
	</li>
</ul>