<div class="row" ng-controller="TargetCreateController">
    <div data-ng-include="'/modules/targets/views/bottom-toolbar.client.view.html'" class="bottom-toolbar"></div>
    <!-- <div class="helper-overlay"></div> -->
    <div class="col-md-9" data-ng-show="success">
        <div class="card bordered" ng-class="{'helper-overlay-show': checkCurrentStateByName('image') || checkCurrentStateByName('impacts') || checkCurrentStateByName('verification')}">
            <div class="card-content">
                <div class="targetContainer">
                    <div class="target" data-ng-class="{ 'image-mode': checkCurrentStateByName('image'), 'impacts-mode': checkCurrentStateByName('impacts'), 'verification-mode': checkCurrentStateByName('verification') }" ng-mouseup="createBulletHole($event)">
                        <div class="bullets" ng-class="caliber.class"></div>
                        <div data-score="10" class="score-11 inner black"></div>
                        <div data-score="10" class="score-10 inner black"></div>
                        <div data-score="9" class="score-9 inner black"></div>
                        <div data-score="8" class="score-8 inner black"></div>
                        <div data-score="7" class="score-7 inner black"></div>
                        <div data-score="6" class="score-6 inner white"></div>
                        <div data-score="5" class="score-5 inner white"></div>
                        <div data-score="4" class="score-4 inner white"></div>
                        <div data-score="3" class="score-3 inner white"></div>
                        <div data-score="2" class="score-2 inner white"></div>
                        <div data-score="1" class="score-1 inner white"></div>
                    </div>
                    <div class="imageContainer" ng-style="{opacity: imageParams.opacity / 100}" ng-hide="checkCurrentStateByName('verification')">
                        <img ng-src="{{imageURL}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bordered small" ng-class="{'helper-overlay-show': checkCurrentStateByName('upload') || checkCurrentStateByName('image')}">
            <div class="card-header">
                <div class="card-title">1. Image</div>
            </div>
            <div class="card-content" ng-controller="UploadTargetImageController">
                <div class="btn-block" data-ng-hide="uploader.queue.length">
                    <span class="btn btn-success btn-file btn-block btn-flat" id="upload-image">
                        Parcourir
                        <input type="file" nv-file-select uploader="uploader">
                    </span>
                </div>
                <div class="text-center" data-ng-show="uploader.queue.length">
                    <button class="btn btn-success btn-flat" data-ng-click="uploadTargetPicture();">Enregistrer</button>
                    <button class="btn btn-default btn-flat" data-ng-click="cancelUpload();">Annuler</button>
                </div>

                <div data-ng-show="success" class="text-center text-success"> <strong>Image enregistrée</strong>
                </div>
                <div data-ng-show="error" class="text-center text-danger"> <strong data-ng-bind="error"></strong>
                </div>
            </div>
            <div class="card-action clearfix">
                <div class="form-group clearfix form-horizontal">
                    <label class="control-label col-md-5">Rotation <span class="text-muted">(<span ng-bind="cropParams.rotation"></span>°)</span></label>
                    <div class="btn-group col-md-7">
                        <button type="button" class="btn btn-default btn-primary btn-small" ng-click="rotateCrop(false);"><i class="material-icons">rotate_left</i></button>
                        <button type="button" class="btn btn-default btn-primary btn-small" ng-click="rotateCrop(true);"><i class="material-icons">rotate_right</i></button>
                    </div>
                </div>
                <div class="form-group clearfix form-horizontal">
                    <label class="control-label col-md-5">Zoom</label>
                    <div class="btn-group col-md-7">
                        <button type="button" class="btn btn-default btn-primary btn-small" ng-click="zoomCrop();"><i class="material-icons">zoom_out</i></button>
                        <button type="button" class="btn btn-default btn-primary btn-small" ng-click="zoomCrop(true);"><i class="material-icons">zoom_in</i></button>
                    </div>
                </div>
                <div class="form-group clearfix form-horizontal translation">
                    <label class="control-label col-md-5">Translation</label>
                    <div class="translation-control">
                        <div class="up" ng-click="moveCrop(false, false);"></div>
                        <div class="right" ng-click="moveCrop(true, true);"></div>
                        <div class="down" ng-click="moveCrop(false, true);"></div>
                        <div class="left" ng-click="moveCrop(true, false);"></div>
                        <i class="material-icons">gamepad</i>
                    </div>
                </div>
            </div>
            <!-- <div class="card-action">
                <button type="button" class="btn-flat btn btn-warning btn-block" ng-click="resetCrop();"><i class="material-icons">refresh</i><span>Réinitialiser image</span></button>
            </div> -->
        </div>
        <div class="card bordered small" ng-class="{'helper-overlay-show': checkCurrentStateByName('impacts')}">
            <div class="card-header">
                <div class="card-title">3. Ajout des impacts</div>
            </div>
            <div class="card-content">
                <div class="form-group clearfix form-horizontal">
                    <label class="control-label col-md-6">Choix du calibre</label>
                    <div class="btn-group col-md-6">
                        <ui-select ng-model="caliber.selected" title="Calibre">
                            <ui-select-match placeholder="Calibre">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="caliber in calibers">
                                <span ng-bind-html="caliber.name"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="card-action">
                <div class="form-group clearfix form-horizontal">
                    <label class="control-label col-md-6">Nombre d'impacts</label>
                    <div class="btn-group col-md-6">
                        <button type="button" class="btn btn-default btn-primary btn-small" ng-bind="bulletCount"></button>
                    </div>
                </div>
                <div class="form-group clearfix form-horizontal">
                    <label class="control-label col-md-6">Impacts dans noir</label>
                    <div class="btn-group col-md-6">
                        <button type="button" class="btn btn-default btn-primary btn-small">
                            <span data-ng-bind="inBlack"></span> <span class="pink-text lighten-4">(<span data-ng-bind="inBlackPerc"></span> %)</span>
                        </button>
                    </div>
                </div>
                <div class="form-group clearfix form-horizontal">
                    <label class="control-label col-md-6">Score</label>
                    <div class="btn-group col-md-6">
                        <button type="button" class="btn btn-default btn-primary btn-small" ng-bind="scoreText"></button>
                    </div>
                </div>
                <div class="form-group clearfix form-horizontal">
                    <label class="control-label col-md-6">Moyenne</label>
                    <div class="btn-group col-md-6">
                        <button type="button" class="btn btn-default btn-primary btn-small" ng-bind="meanScore"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card bordered small" data-ng-show="success">
            <div class="card-header">
                <div class="card-title">Mode</div>
            </div>
            <div class="card-content">
                <button class="btn btn-block btn-flat" data-ng-class="{ 'btn-primary': checkCurrentStateByName('image'), 'btn-default': !checkCurrentStateByName('image') }" ng-click="setImageMode();">Image</button>
                <button class="btn btn-block btn-flat" data-ng-class="{ 'btn-warning': checkCurrentStateByName('impacts') , 'btn-default': !checkCurrentStateByName('impacts') }" ng-click="setImpactsMode();">Impacts</button>
                <button class="btn btn-block btn-flat" data-ng-class="{ 'btn-info': checkCurrentStateByName('verification'), 'btn-default': !checkCurrentStateByName('verification') }" ng-click="setVerificationMode();" ng-disabled="!helpers[2].done">Verification</button>
            </div>
        </div>
        <div class="card bordered small" data-ng-show="success" ng-class="{'helper-overlay-show': checkCurrentStateByName('verification')}">
            <div class="card-header">
                <div class="card-title">4. Vérification</div>
            </div>
            <div class="card-content text-center">
                <datepicker starting-day="1" ng-model="dt" show-weeks="true" custom-class="getDayClass(date, mode)" class="datepicker datepicker-mode-0"></datepicker>
            </div>
            <div class="card-action clearfix">
                <form data-ng-submit="create()" class="pull-right btn-block form-horizontal" novalidate>
                    <fieldset>
                        <button type="submit" class="btn btn-success btn-flat btn-block">Enregistrer la cible</button>
                        <div data-ng-show="error" class="text-danger">
                            <strong data-ng-bind="error"></strong>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
