<section data-ng-controller="TargetsController">
    <div class="row" data-ng-show="!targets.$resolved || targets.length">
        <div class="col-md-12">
          <div class="card">
            <div class="table-responsive white">
              <h3 class="table-title p-20">Historique des cibles <a href="/targets/create" class="btn btn-link btn-icon" title="Nouvelle cible"><i class="zmdi zmdi-plus-circle"></i></a></h3>
              <table class="table table-bordered table-striped table-full table-full-small">
              <colgroup>
                  <col class="auto-cell-size" />
                </colgroup>
                <thead>
                    <tr>
                      <th>Eval</th>
                      <th data-ng-click="order('dt')" class="order">
                            Date <i class="sortorder zmdi zmdi-fast-forward zmd-rotate-90 pink-text" ng-show="predicate === 'dt'" ng-class="{' zmdi-fast-forward zmd-rotate-90':reverse, 'zmdi-fast-rewind zmd-rotate-90': !reverse}"></i>
                      </th>
                      <th data-ng-click="order('meanScore')" class="order">
                            Score moyen <i class="sortorder zmdi pink-text" ng-show="predicate === 'meanScore'" ng-class="{' zmdi-fast-forward zmd-rotate-90':reverse, 'zmdi-fast-rewind zmd-rotate-90': !reverse}"></i>
                      </th>
                      <th data-ng-click="order('bulletCount')" class="order">
                            Impacts <i class="sortorder zmdi pink-text" ng-show="predicate === 'bulletCount'" ng-class="{' zmdi-fast-forward zmd-rotate-90':reverse, 'zmdi-fast-rewind zmd-rotate-90': !reverse}"></i>
                      </th>
                      <th data-ng-click="order('inBlackPerc')" class="order">
                            Dans noir <i class="sortorder zmdi pink-text" ng-show="predicate === 'inBlackPerc'" ng-class="{' zmdi-fast-forward zmd-rotate-90':reverse, 'zmdi-fast-rewind zmd-rotate-90': !reverse}"></i>
                      </th>
                      <th>Score</th>
                      <th>Arme</th>
                      <th>Calibre</th>
                      <th>Munitions</th>
                      <th>Distance</th>
                      <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="target in targets | orderBy:predicate:reverse">
                      <td class="f20">
                      <i class="zmdi icon-color"
                          data-ng-class="{  'zmdi-collection-item-{{ target.flooredMeanScore }}': target.meanScore < 9.5,
                                            'zmdi-collection-item-9-plus': target.meanScore >= 9.5,
                                            'red': target.meanScore >= 0 && target.meanScore < 6,
                                            'orange': target.meanScore >= 6 && target.meanScore < 7,
                                            'yellow accent-4': target.meanScore >= 7 && target.meanScore < 8,
                                            'lime accent-4': target.meanScore >= 8 && target.meanScore < 9,
                                            'light-green accent-4': target.meanScore >= 9 && target.meanScore < 9.5,
                                            'light-blue': target.meanScore >= 9.5 }">
                      </i></td>
                      <td data-ng-bind="target.dt | date:'dd/MM/yyyy'"></td>
                      <td>{{ target.meanScore }}</td>
                      <td>{{ target.bulletCount }}</td>
                      <td>{{ target.inBlack }} <span class="text-muted">({{ target.inBlackPerc }} %)</span></td>
                      <td>{{ target.score }}</td>
                      <td>{{ target.weapon }}</td>
                      <td>{{ target.caliber }}</td>
                      <td>{{ target.ammo }}</td>
                      <td>{{ target.distance }}</td>
                      <td>
                          <a data-ui-sref="targets.edit({targetId: target._id})" class="btn btn-info btn-sm btn-flat">Voir / Modifier</a>
                          <a class="btn btn-primary btn-sm btn-flat" data-ng-click="remove(target);">Supprimer</a>
                      </td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!targets.$resolved || targets.length">
    	No Targets yet, why don't you <a href="/#!/targets/create">create one</a>?
    </div>
</section>