<section data-ng-controller="TargetsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Mes cibles</h1>
    </div>
    <div class="row">
        <div class="col-md-4" data-ng-repeat="target in targets">
            <div class="card z-depth-1 bordered">
                <div class="card-content">
                    <div class="target small">
                        <div class="bullets">
                            <div ng-repeat="bullet in target.bullets" class="bullet nine-mm" data-bullet-score="{{bullet.score}}" style="left: {{bullet.x}}; top:{{bullet.y}};"></div>
                        </div>
                        <div data-score="10" class="score-11 inner black"></div>
                        <div data-score="10" class="score-10 inner black"></div>
                        <div data-score="9" class="score-9 inner black"></div>
                        <div data-score="8" class="score-8 inner black"></div>
                        <div data-score="7" class="score-7 inner black"></div>
                        <div data-score="6" class="score-6 inner white"></div>
                        <div data-score="5" class="score-5 inner white"></div>
                        <div data-score="4" class="score-4 inner white"></div>
                        <div data-score="3" class="score-3 inner white"></div>
                        <div data-score="2" class="score-2 inner white"></div>
                        <div data-score="1" class="score-1 inner white"></div>
                    </div>
                    <ul>
                        <li>Score : {{target.score}}</li>
                        <li>Score moyen : {{target.meanScore}}</li>
                        <li>Impacts : {{target.bulletCount}}</li>
                    </ul>
                </div>
                <div class="card-action clearfix">
                    <span data-ng-bind="target.created | date:'medium'"></span><br>
                    <span class="text-muted" data-ng-bind="target.user.displayName"></span>
                    <a data-ng-href="/#!/targets/{{target._id}}" class="btn btn-primary pull-right">Détails</a>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!targets.$resolved || targets.length">
    	No Targets yet, why don't you <a href="/#!/targets/create">create one</a>?
    </div>
</section>