<section data-ng-controller="TargetsController" data-ng-init="findOne()">
	<div class="target">
        <div class="bullets">
            <div ng-repeat="bullet in target.bullets" class="bullet nine-mm" data-bullet-score="{{bullet.score}}" style="left: {{bullet.x}}; top:{{bullet.y}};"></div>
        </div>
        <div data-score="10" class="score-11 inner black"></div>
        <div data-score="10" class="score-10 inner black"></div>
        <div data-score="9" class="score-9 inner black"></div>
        <div data-score="8" class="score-8 inner black"></div>
        <div data-score="7" class="score-7 inner black"></div>
        <div data-score="6" class="score-6 inner white"></div>
        <div data-score="5" class="score-5 inner white"></div>
        <div data-score="4" class="score-4 inner white"></div>
        <div data-score="3" class="score-3 inner white"></div>
        <div data-score="2" class="score-2 inner white"></div>
        <div data-score="1" class="score-1 inner white"></div>
    </div>
    <ul>
        <li>Score : {{target.score}}</li>
        <li>Score moyen : {{target.meanScore}}</li>
        <li>Impacts : {{target.bulletCount}}</li>
    </ul>
	<div class="pull-right" data-ng-show="authentication.user._id == target.user._id">
		<a class="btn btn-primary" href="/#!/targets/{{target._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="target.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="target.user.displayName"></span>
		</em>
	</small>
</section>