<div class="center" data-ng-controller="AuthenticationController">
	<div class="card bordered z-depth-2"  style="margin:0% auto; max-width:400px;">
		<form data-ng-submit="signin()" class="form-floating signin">
			<div class="card-content">
				<div class="m-b-30">
					<div class="card-title strong pink-text">Login</div>
				</div>
				<div class="form-group">
					<label for="username" class="control-label">Username</label>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
				</div>
				<div class="form-group">
					<label for="password" class="control-label">Password</label>
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
				</div>
			</div>
			<div class="card-action clearfix">
				<div class="pull-right">
					<a data-ui-sref="password.forgot" class="btn btn-link black-text">Forgot your password?</a>
					<button type="submit" class="btn btn-link black-text">Sign in</button>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</div>
		</form>
	</div>
</div>